<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ØªØ´Ø®ÛŒØµ Ø¬Ù†Ø³ÛŒØª
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ù‚Ø¯Ù…Ù‡ Ùˆ ØµÙˆØ±Øª Ù…Ø³Ø¦Ù„Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ù…Ø±ÙˆØ²Ù‡ Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø¯Ù‡Ø§ÛŒ Ú¯Ø³ØªØ±Ø¯Ù‡â€ŒØ§ÛŒ Ø¯Ø§Ø±Ù†Ø¯. Ø§ÙˆÙ„ÛŒÙ† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø¢Ù†ØŒ ØªÙØ±ÛŒØ­ Ùˆ Ø§ÙˆÙ‚Ø§Øª ÙØ±Ø§ØºØª Ø§Ø³Øª. Ø§Ù…Ø§ Ø§Ø² Ø¯ÛŒØ¯ Ø¯ÛŒÚ¯Ø±ØŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø§Ø² Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ¯Ø§ Ú©Ø±Ø¯Ù† Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø±ÙØªØ§Ø±ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯. Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ù…Ø«Ø§Ù„ Ø¨Ø§ ØªØ­Ù„ÛŒÙ„ Ù†Ø¸Ø±Ø§Øª Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒÙ… Ø¶Ø¹Ùâ€ŒÙ‡Ø§ÛŒ Ú©Ø³Ø¨ Ùˆ Ú©Ø§Ø± Ø®ÙˆØ¯ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒÙ….
    <br>
    Ø¬Ù†Ø³ÛŒØª ÛŒÚ©ÛŒ Ø§Ø² Ù¾Ø§Ø±Ø§Ù…ØªØ±Ù‡Ø§ÛŒ ØªØ§Ø«ÛŒØ±Ú¯Ø°Ø§Ø± Ø¯Ø± Ø±ÙØªØ§Ø± Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø§Ø³Øª. Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡ Ø¨Ø§ ÛŒÚ© Ù…ÙˆØ¶ÙˆØ¹ØŒ Ø¨Ø§Ù†ÙˆØ§Ù† Ø¹Ù…Ø¯ØªØ§ ÛŒÚ©â€ŒØ·ÙˆØ± ÙˆØ§Ú©Ù†Ø´ Ù†Ø´Ø§Ù† Ø®ÙˆØ§Ù‡Ù†Ø¯ Ø¯Ø§Ø¯ Ùˆ Ø¢Ù‚Ø§ÛŒØ§Ù† Ù†ÛŒØ² Ø·ÙˆØ± Ø¯ÛŒÚ¯Ø±ÛŒ!
    <br>
    Ø­Ø§Ù„ Ø¯Ø± Ø§ÛŒÙ† ØªÙ…Ø±ÛŒÙ† Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ø¨Ø§ Ø§Ø·Ù„Ø§Ø¹Ø§ØªÛŒ Ú©Ù‡ Ø¯ÛŒØªØ§Ú© Ø§Ø² Ú©Ø§Ø±Ø¨Ø±Ø§Ù† ØªÙˆÛŒÛŒØªØ± Ùˆ Ø§ÛŒÙ†Ø³ØªØ§Ú¯Ø±Ù… Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ù…Ø§ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ Ø¬Ù†Ø³ÛŒØª Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒÙ….
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ÙˆØ§Ø±Ø¯ Ú©Ø±Ø¯Ù† Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø²
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ø¨ØªØ¯Ø§ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø²ØªØ§Ù† Ø±Ø§ ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import FunctionTransformer
from hazm import *

import re
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer


import scipy.sparse as ss

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report, f1_score

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¹Ø±ÙÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡ Ø¢Ù…ÙˆØ²Ø´ Û¸Û°Û°Û° Ø³Ø·Ø± Ùˆ Û±Û° Ø³ØªÙˆÙ† Ø¯Ø§Ø±Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ±ØŒ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø¨ÛŒØ´ØªØ±ÛŒ Ø¯Ø± Ù…ÙˆØ±Ø¯ Ø¯Ø§Ø¯Ù‡ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª.     
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª (Ø³ØªÙˆÙ† Ù‡Ø¯Ù)|
|age|Ø¨Ø§Ø²Ù‡ Ø³Ù†ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|fullname|Ù†Ø§Ù…ÛŒ Ú©Ù‡ Ø¯Ø± Ù¾Ø±ÙˆÙØ§ÛŒÙ„ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª |
|username|Ù†Ø§Ù… Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|biography|Ø¨ÛŒÙˆÚ¯Ø±Ø§ÙÛŒ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|follower_count|ØªØ¹Ø¯Ø§Ø¯ Ø¯Ù†Ø¨Ø§Ù„â€ŒÚ©Ù†Ù†Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|following_count|ØªØ¹Ø¯Ø§Ø¯ Ø§ÙØ±Ø§Ø¯ÛŒ Ú©Ù‡ Ú©Ø§Ø±Ø¨Ø± Ø±Ø§ Ø¯Ù†Ø¨Ø§Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯|
|is_business|Ú©Ø³Ø¨â€ŒÙˆÚ©Ø§Ø±ÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_verified|ØªØ§ÛŒÛŒØ¯ Ø´Ø¯Ù‡ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_private|Ø®ØµÙˆØµÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø³ØªÙˆÙ† <code>age</code> Ù…ØªØºÛŒØ± Ù¾ÛŒÙˆØ³ØªÙ‡ Ù†ÛŒØ³ØªØ› Ø¨Ù„Ú©Ù‡ Ø¯Ø³ØªÙ‡â€ŒÙ‡Ø§ÛŒ Ø³Ù†ÛŒ Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ± Ù†Ø­ÙˆÙ‡ Ù†Ú¯Ø§Ø´Øª Ø³Ù† Ø±Ø§ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ….
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³Ù† ÙˆØ§Ù‚Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø§Ù†|Ø¹Ø¯Ø¯ Ù†Ú¯Ø§Ø´Øª Ø´Ø¯Ù‡|
|:------:|:---:|
|1|Ú©Ù…ØªØ± Ø§Ø² Û±Û¸ Ø³Ø§Ù„|
|2|Ø§Ø² Û±Û¹ ØªØ§ Û²Û¹ Ø³Ø§Ù„|
|3|Ø§Ø² Û³Û° ØªØ§ Û´Û° Ø³Ø§Ù„|
|4|Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² Û´Û° Ø³Ø§Ù„|
    
</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ø®ÙˆØ§Ù†Ø¯Ù† Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¯Ø± Ø§Ø¨ØªØ¯Ø§ Ù†ÛŒØ§Ø² Ø§Ø³Øª ÙØ§ÛŒÙ„â€ŒÙ‡Ø§ÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ø±Ø§ Ø¨Ø®ÙˆØ§Ù†ÛŒØ¯. Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø¯Ø± ÙØ§ÛŒÙ„ <code>train_data.csv</code> Ùˆ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø²Ù…ÙˆÙ† Ú©Ù‡ Ø¨Ø§ÛŒØ¯ Ø¯Ø³ØªÙ‡â€ŒÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒØ¯ Ø¯Ø± ÙØ§ÛŒÙ„ <code>test_data.csv</code> Ø°Ø®ÛŒØ±Ù‡ Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯. Ø§Ú¯Ø± Ù„Ø§Ø²Ù… Ø¯Ø§Ù†Ø³ØªÛŒØ¯ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¨Ù‡ Ø¯Ù„Ø®ÙˆØ§Ù‡ Ø®ÙˆØ¯ Ø¨Ø®Ø´ÛŒ Ø§Ø² Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø±Ø§ Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø§Ø¹ØªØ¨Ø§Ø±Ø³Ù†Ø¬ÛŒ Ù†ÛŒØ² Ø¬Ø¯Ø§ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [2]:
train = pd.read_csv('../data/train_data.csv')
test = pd.read_csv('../data/test_data.csv')
train

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,Ø¯Ø±Ø¯Ø§ Ú© Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø§Ø¯ÛŒÙ‡ Ø¨Ø³ÛŒØ§Ø± Ø¯ÙˆÛŒØ¯ÛŒÙ…...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"Ø®ÙˆØ§Ù‡ÛŒ Ú©Ù‡ Ø²Ú©ÙˆÚ† Ø¯Ø± Ø§Ù…Ø§Ù† Ø¨Ø±Ú¯Ø±Ø¯ÛŒ\nØ¨Ø§ÛŒØ¯ Ú©Ù‡ Ø¨Ù‡ Ø¬Ø§Ù† ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnazâ™¥,___lady.farahnazi.__,"Having you, is all I wish for \nØ¯Ø§Ø´ØªÙ†ØªØŒ ØªÙ…Ø§Ù…Ù...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,Ø¯Ø±Ø¯ÙˆÙ†Ù‡ Ù…Ù† Ù„Ù†Ø§ Ú©ÙˆÚ†ÙˆÙ„Ùˆ,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\nğŸ§ğŸ¼ğŸ¨âš“ï¸ğŸ¤ \n@general.m...,200.0,328.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,ÅŠÎµgÉ¨Å‹,negiiin_bahrmandi,ï·½\nAllah IS Enough FoR Me?\nâ™¥ï¸?,0.0,0.0,0.0,0.0,0.0
7996,man,3,hğŸ—¯abdiğŸ—¯offÃ¬cial,h.abdi.official,Ø­Ù‚ÙˆÙ‚ÛŒ,0.0,0.0,1.0,0.0,0.0
7997,woman,2,âšœØ±ÙˆÛŒØ§ Ø§Ø­Ù…Ø¯ÛŒâšœ,roya.ahmadi.k,Ù…Ù‡Ù†Ø¯Ø³ ØµÙ†Ø§ÛŒØ¹ğŸ‘©â€ğŸ”§ğŸ­ Industrial engineer\nÙ…Ø¹Ù…Ø§Ø±ğŸ‘©â€ğŸ’»ğŸ‘·...,1260.0,1167.0,0.0,0.0,0.0
7998,man,3,Ù„Ø±Ø³ØªØ§Ù† &Ø®Ø±Ù… Ø§Ø¨Ø§Ø¯,erfanpouersif,khoramabad,0.0,0.0,0.0,0.0,0.0
7999,man,4,Sasan,sasan.zeinoddin,Sport ğŸƒğŸ»â€â™‚ï¸ğŸŠğŸ¼â€â™‚ï¸ğŸš´ğŸ½â€â™‚ï¸\nCivil EngineerğŸ—½\nKurdis...,0.0,0.0,0.0,0.0,0.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´ Ùˆ Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¯Ø± Ø§ÛŒÙ† Ø³ÙˆØ§Ù„ Ø´Ù…Ø§ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ù‡Ø± ØªÚ©Ù†ÛŒÚ© Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´/Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ú©Ù‡ Ø¯Ø± ÙØµÙ„â€ŒÙ‡Ø§ÛŒ Ú¯Ø°Ø´ØªÙ‡ Ø¢Ù…ÙˆØ®ØªÛŒØ¯ØŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.
    <br>
    ØªÚ©Ù†ÛŒÚ©â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒØ¯ Ø¨Ù‡ Ø´Ú©Ù„ Ù…Ø³ØªÙ‚ÛŒÙ… Ù…ÙˆØ±Ø¯ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ ØªÙˆØ³Ø· Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù‚Ø±Ø§Ø± <b>Ù†Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ù†Ø¯.</b> Ø¨Ù„Ú©Ù‡ Ù‡Ù…Ù‡ Ø¢Ù†â€ŒÙ‡Ø§ Ø¯Ø± Ø¯Ù‚Øª Ù…Ø¯Ù„ Ø´Ù…Ø§ ØªØ§Ø«ÛŒØ± Ø®ÙˆØ§Ù‡Ù†Ø¯ Ú¯Ø°Ø§Ø´ØªØ› Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ù‡Ø± Ú†Ù‡ Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´/Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ø¨Ù‡ØªØ±ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡ÛŒØ¯ ØªØ§ Ø¯Ù‚Øª Ù…Ø¯Ù„ Ø¨Ù‡Ø¨ÙˆØ¯ Ù¾ÛŒØ¯Ø§ Ú©Ù†Ø¯ØŒ Ø§Ù…ØªÛŒØ§Ø² Ø¨ÛŒØ´ØªØ±ÛŒ Ø§Ø² Ø§ÛŒÙ† Ø³ÙˆØ§Ù„ Ú©Ø³Ø¨ Ø®ÙˆØ§Ù‡ÛŒØ¯ Ú©Ø±Ø¯.
</font>
</p>

In [3]:
train.describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,8000,8000.000000,8000,8000,8000,8000.000000,8000.00000,7997.000000,8000.000000,8000.000000
unique,2,NaN,7171,8000,7930,NaN,NaN,NaN,NaN,NaN
top,man,NaN,maryam,mr_gh_farshid,ÙÙ‚Ø· Ø®Ø¯Ø§,NaN,NaN,NaN,NaN,NaN
freq,4000,NaN,28,1,5,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.659875,NaN,NaN,NaN,2745.200250,712.20650,0.103289,0.000125,0.000125
std,NaN,0.724228,NaN,NaN,NaN,20156.322638,1465.37601,0.304355,0.011180,0.011180
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
25%,NaN,2.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
50%,NaN,3.000000,NaN,NaN,NaN,124.000000,133.00000,0.000000,0.000000,0.000000
75%,NaN,3.000000,NaN,NaN,NaN,917.250000,681.00000,0.000000,0.000000,0.000000
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.00000,1.000000,1.000000,1.000000

In [4]:
# do some preprocessing :)
train.nunique()

gender                2
age                   4
fullname           7171
username           8000
biography          7930
follower_count     2477
following_count    2055
is_business           2
is_verified           2
is_private            2
dtype: int64

In [5]:
train[train['is_verified'] == 1].describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,1,1.0,1,1,1,1.0,1.0,1.0,1.0,1.0
unique,1,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
top,woman,NaN,Nooshafarin Ù†ÙˆØ´ Ø§Ù“ÙØ±ÙŠÙ†,nooshafarin.a,Nooshafarin official page\nØµÙØ­Ù‡ Ø±Ø³Ù…ÛŒ Ù†ÙˆØ´ Ø§ÙØ±ÛŒÙ†,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0
25%,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0
50%,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0
75%,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0
max,NaN,4.0,NaN,NaN,NaN,296244.0,118.0,1.0,1.0,0.0

In [6]:
train[train['is_business'] == 1].describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,826,826.000000,826,826,826,826.000000,826.000000,826.0,826.000000,826.0
unique,2,NaN,817,826,826,NaN,NaN,NaN,NaN,NaN
top,man,NaN,alireza,officemehran,ÙˆÛŒ Ø¯Ø± Ø®Ø§Ù†ÙˆØ§Ø¯Ù‡ Ù…Ø°Ù‡Ø¨ÛŒ Ø§Ø¹ØªÙ‚Ø§Ø¯ Ø®ÙˆØ¯ Ø±Ø§ Ø§Ø² Ø¯Ø³Øª Ø¯Ø§Ø¯ğŸ˜€ğŸ˜€,NaN,NaN,NaN,NaN,NaN
freq,524,NaN,3,1,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.742131,NaN,NaN,NaN,11711.389831,1532.726392,1.0,0.001211,0.0
std,NaN,0.725362,NaN,NaN,NaN,46122.635507,2156.302881,0.0,0.034794,0.0
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.000000,1.0,0.000000,0.0
25%,NaN,2.000000,NaN,NaN,NaN,800.750000,129.000000,1.0,0.000000,0.0
50%,NaN,3.000000,NaN,NaN,NaN,2583.500000,614.000000,1.0,0.000000,0.0
75%,NaN,3.000000,NaN,NaN,NaN,8935.500000,1712.250000,1.0,0.000000,0.0
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.000000,1.0,1.000000,0.0

In [7]:
train.drop(columns=['follower_count','following_count', 'is_verified','is_private','username', 'age','biography'],inplace=True)
test.drop(columns=['follower_count','following_count', 'is_verified','is_private','username','age', 'biography'],inplace=True)

In [8]:
train

     gender           fullname  is_business
0       man            Farshid          0.0
1     woman            zahr@72          0.0
2     woman       ms farahnazâ™¥          0.0
3     woman  Lena.mommy farzan          0.0
4     woman  Narsis Asadollahi          0.0
...     ...                ...          ...
7995  woman              ÅŠÎµgÉ¨Å‹          0.0
7996    man    hğŸ—¯abdiğŸ—¯offÃ¬cial          1.0
7997  woman       âšœØ±ÙˆÛŒØ§ Ø§Ø­Ù…Ø¯ÛŒâšœ          0.0
7998    man   Ù„Ø±Ø³ØªØ§Ù† &Ø®Ø±Ù… Ø§Ø¨Ø§Ø¯          0.0
7999    man              Sasan          0.0

[8000 rows x 3 columns]

In [9]:
train.isna().sum()

gender         0
fullname       0
is_business    3
dtype: int64

In [10]:
train.is_business.fillna(0.0, inplace=True)

In [11]:
import string
from hazm import stopwords_list
from nltk.tokenize.casual import TweetTokenizer

normalizer = Normalizer(persian_numbers =False,persian_style=False)
tokenizer = WordTokenizer(separate_emoji=True , replace_links=True ,replace_ids=True ,replace_emails=False ,replace_numbers=True ,replace_hashtags=True)
stop_words_EN = set(stopwords.words('english'))
stop_words_FA = set(stopwords_list())
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()
t = TweetTokenizer()

# 
# A = -1
def pre_fast(text):
	

	
	#lowercase_text(text)
	text = text.lower()

	text = re.sub(r'\d+', '', text)

	#remove_punctuation(text):
	text = text.translate(str.maketrans('', '', string.punctuation))

	punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~ØŸ!.ØŒ,?'''

	# Removing punctuations in string
	# Using loop + punctuation string
	for ele in text:
		if ele in punc:
			text = text.replace(ele, "")

	punc = '''\u200dâ™‚ï¸Ùª'ğŸ»','''
	# Removing punctuations in string
	# Using loop + punctuation string
	for ele in text:
		if ele in punc:
			text = text.replace(ele, "")

	text = normalizer.normalize(text)


	# Remove_stop_words_English and Remove_stop_words_Farsi and Lemmatizer_Farsi and Stemmer_English
	#romove number


	text = re.sub(r'\d+', '', text)
	words = tokenizer.tokenize(text)
	text = ' '.join(words)
	words = t.tokenize(text)


	
	# words = [stemmer.stem(lemmatizer.lemmatize(word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

	words = [lemmatizer.lemmatize(stemmer.stem(word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

	text = ' '.join(words)




	punc = '''\u200c'''

	# Removing punctuations in string
	# Using loop + punctuation string
	for ele in text:
		if ele in punc:
			text = text.replace(ele, " ")

	
	text = re.sub(r'\d+', '', text)
	words = tokenizer.tokenize(text)
	text = ' '.join(words)
	words = t.tokenize(text)
	words = t.tokenize(text)
	# words = [stemmer.stem(lemmatizer.lemmatize(word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

	words = [lemmatizer.lemmatize(stemmer.stem(word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

	text = ' '.join(words)

	text = normalizer.normalize(text)
	#remove_punctuation(text):
	text = text.translate(str.maketrans('', '', string.punctuation))

	text = text.replace('''\u200c''', " ")
	text = text.replace('\u200c', " ")
	
	global A
	# print(A)
	# A +=1

	return	text

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer


corpus =  train['fullname']
tfidf_vect_fullname = TfidfVectorizer(preprocessor =pre_fast,min_df = 2)
final_counts_fullname = tfidf_vect_fullname.fit_transform(corpus)

print(tfidf_vect_fullname.get_feature_names_out())
print(final_counts_fullname.toarray()[0])
print(final_counts_fullname.toarray()[1])

['aba' 'abadi' 'abba' ... 'ä¹™ï¾‘' 'ğ“ğ“¶ğ“²ğ“·' 'ğ“¢ğ“ªğ“¶ğ“²ğ“»ğ“ª']
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]

In [13]:
tfidf_vect_fullname.get_feature_names_out()

array(['aba', 'abadi', 'abba', ..., 'ä¹™ï¾‘', 'ğ“ğ“¶ğ“²ğ“·', 'ğ“¢ğ“ªğ“¶ğ“²ğ“»ğ“ª'], dtype=object)

In [14]:

test_biography = test['fullname']
test_counts_fullname = tfidf_vect_fullname.transform(test_biography)

In [15]:
final_counts_fullname.toarray().shape

(8000, 1203)

In [16]:
test_counts_fullname.toarray().shape

(2000, 1203)

In [17]:
train_data = pd.DataFrame(final_counts_fullname.toarray())
test_data = pd.DataFrame(test_counts_fullname.toarray())
train_data

,0,1,2,3,4,5,6,7,8,9,...,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
train.drop(columns= ['fullname'],inplace=True)

train['gender'].replace({'woman':0, 'man':1},inplace=True)
train

      gender  is_business
0          1          0.0
1          0          0.0
2          0          0.0
3          0          0.0
4          0          0.0
...      ...          ...
7995       0          0.0
7996       1          1.0
7997       0          0.0
7998       1          0.0
7999       1          0.0

[8000 rows x 2 columns]

In [19]:
test.drop(columns= ['fullname'],inplace=True)

In [20]:
concatenated_test_data= pd.concat([test, test_data],axis=1)
concatenated_test_data.columns = concatenated_test_data.columns.astype(str)
concatenated_test_data

,is_business,0,1,2,3,4,5,6,7,8,...,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
concatenated_train_data = pd.concat([train, train_data],axis=1)
concatenated_train_data.columns = concatenated_train_data.columns.astype(str)
concatenated_train_data

,gender,is_business,0,1,2,3,4,5,6,7,...,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
concatenated_train_data['is_business'] = concatenated_train_data['is_business']/4
concatenated_test_data['is_business'] = concatenated_test_data['is_business']/4
concatenated_test_data

,is_business,0,1,2,3,4,5,6,7,8,...,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202
0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¯Ù„â€ŒØ³Ø§Ø²ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø­Ø§Ù„ Ú©Ù‡ Ø¯Ø§Ø¯Ù‡ Ø±Ø§ Ù¾Ø§Ú©Ø³Ø§Ø²ÛŒ Ú©Ø±Ø¯Ù‡ Ùˆ Ø§Ø­ØªÙ…Ø§Ù„Ø§ ÙˆÛŒÚ˜Ú¯ÛŒâ€ŒÙ‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨Ù‡ Ø¢Ù† Ø§ÙØ²ÙˆØ¯Ù‡ ÛŒØ§ Ø§Ø² Ø¢Ù† Ø­Ø°Ù Ú©Ø±Ø¯Ù‡â€ŒØ§ÛŒØ¯ØŒ ÙˆÙ‚Øª Ø¢Ù† Ø§Ø³Øª Ú©Ù‡ Ù…Ø¯Ù„ÛŒ Ø¢Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒØ¯ Ú©Ù‡ Ø¨ØªÙˆØ§Ù†Ø¯ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†Ø¯.
</font>
</p>

In [23]:
from sklearn.model_selection import train_test_split
X = concatenated_train_data.drop(columns=['gender'])
y = concatenated_train_data['gender']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [24]:
# modeling :)
from sklearn.neural_network import MLPClassifier



model = MLPClassifier()

model.fit(X_train, y_train)

MLPClassifier()

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¹ÛŒØ§Ø± Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ù…Ø¹ÛŒØ§Ø±ÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¯Ù„ Ø§Ù†ØªØ®Ø§Ø¨ Ú©Ø±Ø¯Ù‡â€ŒØ§ÛŒÙ…ØŒ <code>f1_score</code> Ù†Ø§Ù… Ø¯Ø§Ø±Ø¯.
    <br>
    Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø±ØŒ Ø³Ù†Ø¬Ù‡ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©ÛŒÙÛŒØª Ù…Ø¯Ù„ Ø´Ù…Ø§Ø³Øª. Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª Ø¨Ù‡ØªØ± Ø¯Ø± Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù‡Ù… Ø§Ø² Ù‡Ù…ÛŒÙ† Ù…Ø¹ÛŒØ§Ø± Ø¨Ø±Ø§ÛŒ Ù†Ù…Ø±Ù‡â€ŒØ¯Ù‡ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø´Ø¯Ù‡ Ø§Ø³Øª.
    <br>
    Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø±ØŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¯Ù„ Ø®ÙˆØ¯ Ø±Ø§ Ø¨Ø± Ø±ÙˆÛŒ Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ ÛŒØ§ Ø§Ø¹ØªØ¨Ø§Ø±Ø³Ù†Ø¬ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [25]:
y_pred = model.predict(X_test)

In [26]:
# evaluate model
from sklearn.metrics import classification_report, f1_score

f1 = f1_score(y_test, y_pred, average='weighted') 

print("F1 Score:", f1)

class_report = classification_report(y_test, y_pred)

print("Classification Report:")
print(class_report)

F1 Score: 0.8051693121693122
Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.94      0.83       597
           1       0.92      0.68      0.78       603

    accuracy                           0.81      1200
   macro avg       0.83      0.81      0.81      1200
weighted avg       0.83      0.81      0.81      1200

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>ØªÙˆØ¬Ù‡:</b></font>
<font face="vazir" size=3>
 Ø¬Ù‡Øª Ú©Ø³Ø¨ Ø§Ù…ØªÛŒØ§Ø² Ú©Ø§Ù…Ù„ Ù†ÛŒØ§Ø² Ø§Ø³Øª ØªØ§ Ù¾Ø§Ø³Ø® Ø´Ù…Ø§ Ø­Ø¯Ø§Ù‚Ù„ Ø§Ù…ØªÛŒØ§Ø² <code>75%</code> Ø±Ø§ Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ù…Ø¹ÛŒØ§Ø± Ù…Ø¹Ø±ÙÛŒâ€ŒØ´Ø¯Ù‡ Ú©Ø³Ø¨ Ù†Ù…Ø§ÛŒØ¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ø¨Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ùˆ Ø®Ø±ÙˆØ¬ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ù¾Ø³ Ø§Ø² Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ùˆ Ù…Ø¯Ù„Ø³Ø§Ø²ÛŒØŒ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ…ÛŒ Ø¯Ø§Ø±ÛŒØ¯ Ú©Ù‡ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø´Ù…Ø§ Ø±Ø§ Ø§Ø² Ù…ØªØºÛŒØ±Ù‡Ø§ÛŒ Ù…Ø³ØªÙ‚Ù„ Ø¨Ù‡ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¨Ø±Ø³Ø§Ù†Ø¯.
    <br>
    Ø§Ø² Ø§ÛŒÙ† Ù…Ø¯Ù„ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯ Ùˆ Ù†ØªØ§ÛŒØ¬ Ø±Ø§ Ø¯Ø± Ù‚Ø§Ù„Ø¨ Ø¬Ø¯ÙˆÙ„ (<code>dataframe</code>) Ø²ÛŒØ± Ø¢Ù…Ø§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª Ú©Ø§Ø±Ø¨Ø±|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ø§Ø³Ù… Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ø¨Ø§ÛŒØ¯ <i>submission</i> Ø¨Ø§Ø´Ø¯Ø› Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ† ØµÙˆØ±ØªØŒ Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù†Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ ØªÙ„Ø§Ø´â€Œ Ø´Ù…Ø§ Ø±Ø§ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©Ù†Ø¯.
    <br>
    Ø§ÛŒÙ† Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… ØªÙ†Ù‡Ø§ Ø´Ø§Ù…Ù„ Û± Ø³ØªÙˆÙ† Ø¨Ø§ Ø§Ø³Ù… <i>gender</i> Ø§Ø³Øª Ùˆ Û²Û°Û°Û° Ø³Ø·Ø± Ø¯Ø§Ø±Ø¯.
    <br>
    Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ø³Ø·Ø± Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… <i>test_data</i> Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ ÛŒÚ© Ù…Ù‚Ø¯Ø§Ø± Ù¾ÛŒØ´Ø¨ÛŒÙ†ÛŒ Ø´Ø¯Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯.
    <br>
    Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ±ØŒ Ûµ Ø³Ø·Ø± Ø§Ø¨ØªØ¯Ø§ÛŒÛŒ Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… <code>submission</code> Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø§Ù„Ø¨ØªÙ‡ Ø¯Ø± Ø¬ÙˆØ§Ø¨ Ø´Ù…Ø§ØŒ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø³ØªÙˆÙ† <i>gender</i> Ù…Ù…Ú©Ù† Ø§Ø³Øª Ù…ØªÙØ§ÙˆØª Ø¨Ø§Ø´Ø¯.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||gender|
|----|-----|
|0|woman|
|1|woman|
|2|man|
|3|woman|
|4|man|

</font>
</div>

In [27]:
pred = model.predict(concatenated_test_data)

In [28]:
# predict test samples
submission = pd.DataFrame(pred,columns=['gender'])
submission['gender'].replace({0:'woman', 1:'man'},inplace=True)

submission

     gender
0     woman
1       man
2       man
3     woman
4     woman
...     ...
1995  woman
1996  woman
1997  woman
1998  woman
1999  woman

[2000 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>Ø³Ù„ÙˆÙ„ Ø¬ÙˆØ§Ø¨â€ŒØ³Ø§Ø²</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø±Ø§ÛŒ Ø³Ø§Ø®ØªÙ‡â€ŒØ´Ø¯Ù† ÙØ§ÛŒÙ„ <code>result.zip</code> Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± Ø±Ø§ Ø§Ø¬Ø±Ø§ Ú©Ù†ÛŒØ¯. ØªÙˆØ¬Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ú©Ù‡ Ù¾ÛŒØ´ Ø§Ø² Ø§Ø¬Ø±Ø§ÛŒ Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± ØªØºÛŒÛŒØ±Ø§Øª Ø§Ø¹Ù…Ø§Ù„ Ø´Ø¯Ù‡ Ø¯Ø± Ù†Øªâ€ŒØ¨ÙˆÚ© Ø±Ø§ Ø°Ø®ÛŒØ±Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´ÛŒØ¯ (<code>ctrl+s</code>) ØªØ§ Ø¯Ø± ØµÙˆØ±Øª Ù†ÛŒØ§Ø² Ø¨Ù‡ Ù¾Ø´ØªÛŒØ¨Ø§Ù†ÛŒ Ø§Ù…Ú©Ø§Ù† Ø¨Ø±Ø±Ø³ÛŒ Ú©Ø¯ Ø´Ù…Ø§ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯.
</font>
</p>

In [29]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
file_names = ['gender_detection.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['gender_detection.ipynb', 'submission.csv']